
body {
  font-family: arial, sans-serif;
}
#websiteTitle {
  font-size: 30px;
  verticle-align: middle;
  font-family: 'Pacifico', cursive;
  padding-bottom: .4em;
}
.jumbotron {
  background-color:#2E2D88;
  color:black;
}
.tab-content{
  botder-left: 1px solid #ddd;
  botder-right: 1px solid #ddd;
  botder-bottom: 1px solid #ddd;
  padding: 10px;
}
.nav-tabs {
  margin-bottom: 0;
}
