body {
  font-family: arial, sans-serif;
}
#websiteTitle {
  font-size: 20px;
  vertical-align: middle;
  font-family: 'Pacifico', cursive;
  color: white;
}

.head-banner {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  text-align: center;
  background-color: black;
}

.slide1 {
  background-image: url('crimestats3.png');
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
